/* .map-block-container {
  margin-top: 50px; 
} */

.leaflet-control-zoom.leaflet-bar.leaflet-control{
  margin-top: 80px;
}

.leaflet-glify-layer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.leaflet-glify-layer.visible {
  opacity: 1;
}